<template name="admin">

    {{> navbar}}
   
    <div class="container" >
      <div class="section">

          {{> loginbox}}

        <h5 class="header center blue-text">{{_ "gestioneSegnalazioni"}}</h5>
        <table class="striped">
            <tbody>
                {{#if finesToApprove.length = 0 }}{{_ "Nessuna segnalazione da approvare"}}{{/if}}
                {{#each finesToApprove}}
                   {{> fineToApprove}}
                {{/each}}
            </tbody>
        </table>
        </div>
    </div>
    {{> footer}}

</template>

