<template name="admin">

    {{> navbar}}
   
    <div class="container">
      <div class="section">
        <h5 class="header center blue-text"> Ciao admin, approva le segnalazioni!</h5>
                <table class="striped">
                    <tbody>
                        {{#each finesToApprove}} 
                            {{> fineToApprove}} 
                        {{/each}}
                    </tbody>
                </table>
        </div>
    </div>
    {{> footer}}

</template>

