<template name="cercaSegnalazioni">
<div class="container">
          <div class="section">
               <h5 class="header center blue-text">Cerca segnalazioni</h5><br />
              
                <form action="#">
                    <div class="row" id="filter">
                     <p>
                      <input name="group1" type="radio" id="latest" value="2"/>
                      <label for="latest">Solo segnalazioni più recenti</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="nearest" value="1"/>
                      <label for="nearest">Segnalazioni più vicine a te</label>
                    </p>
                    <p>
                      <input class="with-gap" name="group1" type="radio" value="0" checked id="all"  />
                      <label for="all">Tutte</label>
                    </p>
                    </div>
                    <div class="row">                   
                    <!-- test Longitude: <input type="text" id="longitude" name="longitude" placeholder="0.0" value="12.5348843"/> -->
                   <!-- test Latitude:<input type="text" id="latitude" name="latitude" placeholder="0.0" value="41.8982409"/> -->
                    <div class="col l6 m6 s8">
                        Distanza minima (metri):
                        <input type="text" id="minD" name="minD" placeholder="0" value="0" maxlength="10" size="10"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 m6 s8">
                        Distanza massima (metri):
                        <input type="text" id="maxD" name="maxD" placeholder="1000" value="1000" maxlength="10" size="10"/>
                    </div>
                </div>
                <div class="row">
                    <button id="getFines" class="btn waves-light" type="submit" name="action">Cerca
                      <i class="mdi-login right"></i>
                    </button>
                    <button id="resetFines" class="btn waves-light" type="submit" name="action">Azzera
                      <i class="mdi-login right"></i>
                    </button>
               </div>
              </form>
              
                <table class="striped">
                  <tbody>
                    {{#each foundfines}} {{> foundfine}} {{/each}}
                  </tbody>
                </table>
          </div>
     </div>

</template>