<template name="chisiamo">
<div>
    {{> navbar}}
    
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col l8 s12">
                    <h5 class="header center blue-text">Chi è TiMulto?</h5>
                    <a name="info">
                        <p class="black-text text-lighten-4">Siamo una organizzazione pedon-insurezzionalista dedita allo sviluppo di tecnologie atte a migliorare la vivibilità degli ambienti urbani ed extraurbani con priorità specifica a quelli nei pressi delle nostre case. Ogni contributo, morale e materiale, è largamente apprezzato.</p>
                    </a>
                </div>
            </div>
        </div>
        
       
    </div>
    
      {{> footer}}
    </div>
    </template>