
<template name="fine">
  <tr>
      <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
      <td><span class="text">Tipologia: {{category}} - {{text}}, in {{address}}</span></td>
      <td><a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a><!--<button class="delete">&times;</button>-->
    </td>
  </tr>
</template>

<template name="fineDetails">
    {{> navbar}}
   
    <div class="container">
      <div class="section">
        <h5 class="header center blue-text">Dettaglio segnalazione</h5>
          <div class="row">
              <div>
                  <canvas id="myCanvas" style="width: 100%; float: center" width="500" height="500"></canvas>
              </div>
   
<!--              <img class="mini-shot" name="imageData" style="width: 100%; float: center;" width="500" height="500" src="{{imageData}}" /><br />-->
              
              <div>
                 <p class="card-panel orange lighten-4"> {{username}} ha segnalato "{{text}}" in {{address}}. Tipologia segnalazione: {{category}}</p>
              </div>
              
          </div>
          <div class="row center">
              <div>
                <p class="adminThumb">
                    <a class="btn-floating orange"><i class="large mdi-action-thumb-up thumb-up"></i></a>
                &nbsp;
                    <a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a>
                </p>
              </div>
          </div>
        </div>
    </div>
    
    {{> footer}}
</template>

<template name="fineToApprove">
    
    <tr>
        <td><span id="{{_id}}" class="text">{{username}}: {{category}} - {{text}}, in {{address}}. Approved:{{approved}}</span></td>
        <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
<!--
        <td>
            <p class="adminThumb">
                <a class="btn-floating orange"><i class="large mdi-action-thumb-up thumb-up"></i></a>
            </p>
        </td>
        <td>
            <p id="{{_id}}">
                <a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a>
            </p>
        </td>
-->
    </tr>
</template>

<template name="foundfine">
  <tr>
      <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
      <td><span class="text">{{createdAt}} - Da {{username}}: {{category}} - {{text}}, in {{address}}</span></td>
  </tr>
</template>
