
<template name="fine">
  <tr>
      <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
      <td><span class="text">{{username}}: {{category}} - {{text}}, in {{address}}</span></td>
      <td><a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a><!--<button class="delete">&times;</button>-->
    </td>
  </tr>
</template>
<template name="fineToApprove">
    <tr>
        <td><span class="text">{{username}}: {{category}} - {{text}}, in {{address}}. Approved:{{approved}}</span></td>
        <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
        <td>
            <p class="adminThumb">
                <a class="btn-floating orange"><i class="large mdi-action-thumb-up thumb-up"></i></a>
            </p>
        </td>
        <td>
            <p id="{{_id}}">
                <a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a>
            </p>
        </td>
    </tr>
</template>

<template name="foundfine">
  <tr>
      <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
      <td><span class="text">{{createdAt}} - Da {{username}}: {{category}} - {{text}}, in {{address}}</span></td>
  </tr>
</template>