<template name="footer">
  <footer class="page-footer orange" >
    <div class="container" height="100%" min-height="100%">
      <div class="row">
<!--
        <div class="col l8 s12">
          <h5 class="white-text">Chi è TiMulto?</h5>
          <a name="info"><p class="grey-text text-lighten-4">Siamo una organizzazione pedon-insurezzionalista dedita allo sviluppo di tecnologie atte a migliorare la vivibilità degli ambienti urbani ed extraurbani con priorità specifica a quelli nei pressi delle nostre case. Ogni contributo, morale e materiale, è largamente apprezzato.</p></a>
        </div>
-->
        <div class="col l4 s12">
          <h5 class="white-text">{{_ "contattaci"}}</h5>
          <a name="contactus">
              <ul>
                <li><a onclick="window.open('https://www.facebook.com/raffaele.guidi', '_system');" class="white-text" href="https://www.facebook.com/raffaele.guidi">Facebook</a></li>
                <li><a onclick="window.open('https://twitter.com/raffaeleguidi', '_system');" class="white-text" href="https://twitter.com/raffaeleguidi">Twitter</a></li>
              </ul>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a onclick="window.open('https://twitter.com/raffaeleguidi', '_system');" class="orange-text text-lighten-3" href="https://twitter.com/raffaeleguidi">@raffaeleguidi</a>
      </div>
    </div>
  </footer>

</template>