
.leaflet-container {
  width: 100%;
    height:100%;
/*    min-height: 100%;*/
/*  margin: 15px auto 0 auto;*/
}

.leaflet-container2 {
  width: 100%;
    height:100%;
/*    min-height: 100%;*/
  margin: 0 0;
}

.leaflet-popup {
    width: 250px;
}
.map {
    height:auto;
    min-height: 100%;
      margin: 0 0;
/*  border: solid 1px black;*/
}

.title {
  margin-top: 0; 
  margin-bottom: 10px; 
  text-align: center;
}

/*
.notice {
  margin: 10px 0 5px 0;
  line-height: 1.5;
  text-align: center;
}
*/

/*
@media all and (max-width: 480px) {
//   styles for iPhone/Android landscape (and really narrow browser windows)
  .notice {
    font-size: 11px;
  }
}
*/

/*
@media all and (max-width: 320px) {
//   styles for iPhone/Android portrait
  .notice {
      font-size: 11px;
  }
}
*/

/*
@media all and (max-width: 240px) {
 //  styles for smaller devices
  .notice{
    font-size: 11px;
  }
}*/
