/*
Probably it's better to switch to:
https://github.com/FezVrasta/bootstrap-material-design/tree/master/meteor
*/

html, body {height:100%;}

li {
    text-align: left;
}
div.select-wrapper {
    margin-top: 0px;
}

i.mdi-navigation-arrow-drop-down {
    margin-top: 5px;
}

.shot {
    width: 250px;
    vertical-align: middle;
}

#canvas {
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: white;*/
    /*box-shadow: 5px 5px 5px #dedede;*/
    /*border: 1px solid lightgray;*/
}

.normal-shot {
    width: 240px;
    height: 240px;
    background-color: white;
    vertical-align: middle;
}

.mini-shot {
    width: 100px;
    height: 100px;
    background-color: white;
    vertical-align: middle;
}

.flash{
    width: 64px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
}

.tabs .tab a {
  color: #42a5f5 ;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: color .28s ease;
  -moz-transition: color .28s ease;
  -o-transition: color .28s ease;
  -ms-transition: color .28s ease;
  transition: color .28s ease;
}


.tabs .tab a:hover{color:#42a5f5}
.tabs .indicator{
    position:absolute;
    bottom:0;
    height:2px;
    background-color:#ffb74d ;
    will-change:left, right
}


/* Social */
a.button-facebook {
	background-color: #2b4170; /* fallback color */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding:3px;
    color: white;
    display:inline-block;
    margin-top:3px;
    margin-bottom:3px;
	background: -moz-linear-gradient(top, #3b5998, #2b4170);
	background: -ms-linear-gradient(top, #3b5998, #2b4170);
	background: -webkit-linear-gradient(top, #3b5998, #2b4170);
	border: 1px solid #2b4170;
	text-shadow: 0 -1px -1px #1f2f52;
}

a.button-facebook:hover {
	background-color: #3b5998; /* fallback color */
	background: -moz-linear-gradient(top, #2b4170, #3b5998);
	background: -ms-linear-gradient(top, #2b4170, #3b5998);
	background: -webkit-linear-gradient(top, #2b4170, #3b5998);
}

a.button-googleplus {
	background-color: #c33219; /* fallback color */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding:3px;
    color: white;
    display:inline-block;
    margin-top:3px;
    margin-bottom:3px;
	background: -moz-linear-gradient(top, #e64522, #c33219);
	background: -ms-linear-gradient(top, #e64522, #c33219);
	background: -webkit-linear-gradient(top, #e64522, #c33219);
	border: 1px rounded #c33219;
	text-shadow: 0 -1px -1px #972412;
}

a.button-googleplus:hover {
	background-color: #e64522; /* fallback color */
	background: -moz-linear-gradient(top, #c33219, #e64522);
	background: -ms-linear-gradient(top, #c33219, #e64522);
	background: -webkit-linear-gradient(top, #c33219, #e64522);
}

a.button-twitter {
	background-color: #0081ce; /* fallback color */
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding:3px;
    color: white;
	display:inline-block;
    margin-top:3px;
    margin-bottom:3px;
    background: -moz-linear-gradient(top, #00aced, #0081ce);
	background: -ms-linear-gradient(top, #00aced, #0081ce);
	background: -webkit-linear-gradient(top, #00aced, #0081ce);
	border: 1px rounded #0081ce;
	text-shadow: 0 -1px -1px #005ea3;
}

a.button-twitter:hover {
	background-color: #00aced; /* fallback color */
	background: -moz-linear-gradient(top, #0081ce, #00aced);
	background: -ms-linear-gradient(top, #0081ce, #00aced);
	background: -webkit-linear-gradient(top, #0081ce, #00aced);
}
