/*
Probably it's better to switch to:
https://github.com/FezVrasta/bootstrap-material-design/tree/master/meteor
*/

html, body {height:100%;}

li {
    text-align: left;
}
div.select-wrapper {
    margin-top: 0px;
}

i.mdi-navigation-arrow-drop-down {
    margin-top: 5px;
}

.shot {
    width: 250px;
    vertical-align: middle;
}

#canvas {
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: white;*/
    /*box-shadow: 5px 5px 5px #dedede;*/
    /*border: 1px solid lightgray;*/
}

.normal-shot {
    width: 240px;
    height: 240px;
    background-color: white;
    vertical-align: middle;
}

.mini-shot {
    width: 100px;
    height: 100px;
    background-color: white;
    vertical-align: middle;
}

.flash{
    width: 64px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
}

.tabs .tab a {
  color: #42a5f5 ;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: color .28s ease;
  -moz-transition: color .28s ease;
  -o-transition: color .28s ease;
  -ms-transition: color .28s ease;
  transition: color .28s ease;
}


.tabs .tab a:hover{color:#42a5f5}
.tabs .indicator{
    position:absolute;
    bottom:0;
    height:2px;
    background-color:#ffb74d ;
    will-change:left, right
}
