/*
Probably it's better to switch to:
https://github.com/FezVrasta/bootstrap-material-design/tree/master/meteor
*/
li {
    text-align: left;
}
div.select-wrapper {
    margin-top: 0px;
}

i.mdi-navigation-arrow-drop-down {
    margin-top: 5px;
}

.shot {
    width: 250px;
    vertical-align: middle;
}

#canvas {
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: white;*/
    /*box-shadow: 5px 5px 5px #dedede;*/
    /*border: 1px solid lightgray;*/
}

.normal-shot {
    width: 240px;
    height: 240px;
    background-color: white;
    vertical-align: middle;
}

.mini-shot {
    width: 100px;
    height: 100px;
    background-color: white;
    vertical-align: middle;
}

.flash{
    width: 64px;
}
