<template name="fine">
  <tr>
      <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
      <td><span class="text">{{formatDate createdAt}} {{#if isadmin}}[{{username}}] {{/if}}{{#if text}}"{{text}}". {{/if}}In {{address}}.</span></td>
      <td><a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a><!--<button class="delete">&times;</button>-->
    </td>
  </tr>
</template>

<template name="fineDetails">
    {{> navbar}}

    <div class="section no-pad-bot">
        {{> loginbox}}
    </div>

    <div class="container">

      <div class="section">

        <h5 class="header center blue-text">Dettaglio segnalazione</h5>
          <div class="row center">
              <div>
                  <canvas id="myCanvas" style="width: 100%; float: center" width="400" height="400"></canvas>
              </div>

<!--              <img class="mini-shot" name="imageData" style="width: 100%; float: center;" width="500" height="500" src="{{imageData}}" /><br />-->

              <div>
                 <p class="card-panel orange lighten-4">{{formatDate createdAt}} {{#if isadmin}}[{{username}}] {{/if}}{{#if text}}"{{text}}". {{/if}}In {{address}}.</p>
<!--                  Tipologia segnalazione: {{category}}-->
              </div>

          </div>

         {{#if isadmin}}
          <div class="row center">
              <div>
                <p class="adminThumb">
                    <a class="btn-floating orange"><i class="large mdi-action-thumb-up thumb-up"></i></a>
                &nbsp;
                    <a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a>
                </p>
              </div>
          </div>
          {{/if}}
<!--
          
           <div class="row center">
             <button class="naviga btn waves-light" type="submit" name="action">Naviga
                      <i class="mdi-login right"></i>
            </button>
        
          </div>
-->
        </div>
    </div>

    {{> footer}}
</template>

<template name="fineToApprove">
    <tr>
        <td><span id="{{_id}}" class="text">{{formatDate createdAt}} {{#if isadmin}}[{{username}}] {{/if}}{{#if text}}"{{text}}". {{/if}}In {{address}}.</span><br /></td>
        <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
    </tr>
    <tr>
        <td></td>
        
    </tr>
</template>

<template name="foundfine">
  <tr>
      <td><img class="mini-shot" name="imageData" src="{{imageData}}" /></td>
      <td><span id="{{_id}}" class="text">{{formatDate createdAt}} - Da {{username}}: {{category}} - {{text}}, in {{address}}</span></td>
  </tr>
</template>
