<template name="fineDetails">
    {{> navbar}}

    <div class="section no-pad-bot">
        {{> loginbox}}
    </div>

    <div class="container">

      <div class="section">

        <h5 class="header center blue-text">{{_ category}}<div style="display: none">{{_id}}</div></h5>
          <div class="row center">
              <div>
                 <img alt="caricamento in corso" class="normal-shot" src="{{rootUrl}}api/image/{{_id}}" />
                 <p class="card-panel orange lighten-4">{{formatDate createdAt}} {{#if isadmin}}[{{username}}] {{/if}}{{#if text}}"{{text}}". {{/if}}In {{address}}.</p>
              </div>

          </div>

         {{#if isadmin}}
          <div class="row center">
              <div>
                <p class="adminThumb">
                    <a class="btn-floating orange"><i class="large mdi-action-thumb-up thumb-up"></i></a>
                &nbsp;
                    <a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a>
                </p>
              </div>
          </div>
          {{/if}}
        </div>
    </div>

    {{> footer}}
</template>

<template name="fineInARow">
    <tr class="fine">
        <td>
            <h6 class="blue-text">{{_ category}}<div style="display: none">{{_id}}</div></h6>
            <span id="{{_id}}" class="text">{{formatDate createdAt}} {{#if isadmin}}[{{username}}] {{/if}}{{#if text}}"{{text}}". {{/if}}In {{address}}.</span>
        </td>
        <td>
            <img alt="caricamento in corso" class="mini-shot" src="{{rootUrl}}api/thumb/{{_id}}"/>
        </td>
    </tr>
</template>

<template name="fine">
  <tr>
      <td><img class="mini-shot" name="imageData" src="{{rootUrl}}api/image/{{_id}}" /></td>
      <td><span class="text">{{formatDate createdAt}} {{#if isadmin}}[{{username}}] {{/if}}{{#if text}}"{{text}}". {{/if}}In {{address}}.</span></td>
      <td><a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a><!--<button class="delete">&times;</button>-->
    </td>
  </tr>
</template>
