<template name="popupContent">

    {{#with fine}}
        <div class="row center" id="clickableMapElement">
            <input type="hidden" id="{{_id}}" />
            <div class="col s6"><img class="mini-shot" name="imageData" src="{{thumbUrl}}" /></div>
            <div id="iw_content" class="col s6">Segnalato in {{address}} </div>
        </div>
    {{/with}}
    <div class="row center" style="margin-top: 5px">
        <a href="{{googleMapsUrl}}" target="_blank">Ottieni indicazioni</a>
    </div>

</template>
