<template name="fineInARow">
    <tr class="fine">
        <td>
            <h6 class="blue-text">{{_ category}}<div style="display: none">{{_id}}</div></h6>
            <span id="{{_id}}" class="text">{{formatDate createdAt}} {{#if isadmin}}[{{username}}] {{/if}}{{#if text}}"{{text}}". {{/if}}In {{address}}. (+{{likes}})</span>
        </td>
        <td>
            <img
                 alt="caricamento in corso"
                 class="mini-shot"
                 src="{{rootUrl}}api/thumb/{{_id}}/{{#if version}}{{version}}{{else}}0{{/if}}"/>
        </td>
    </tr>
</template>

<template name="fine">
  <tr>
      <td><img class="mini-shot" name="imageData" src="{{rootUrl}}api/image/{{_id}}" /></td>
      <td><span class="text">{{formatDate createdAt}} {{#if isadmin}}[{{username}}] {{/if}}{{#if text}}"{{text}}". {{/if}}In {{address}}.</span></td>
      <td><a class="btn-floating orange"><i class="large mdi-action-delete delete"></i></a><!--<button class="delete">&times;</button>-->
    </td>
  </tr>
</template>
